.dragons-container > * {
  margin-bottom: 25px;
}

.dragon {
  display: flex;
  align-items: initial;
  gap: 20px;
}

.dragon-image {
  width: 20%;
  height: 20%;
}

.dragon-details > * {
  margin-bottom: 15px;
}

.dragon-name {
  font-size: 25px;
}

.dragon-description {
  font-size: 15px;
}

.dragon-button {
  color: #fff;
  background-color: #4e4eff;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.reserved-btn {
  padding: 5px 10px;
  color: #fff;
  background-color: #24a0b6;
  font-weight: 800;
  border: 0;
  border-radius: 5px;
  margin-right: 10px;
}

.cancel-dragon-button {
  color: #8e8e8e;
  background-color: #fff;
  border: #717171 2px solid;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}
