.Mission:nth-child(odd) {
  background: lightgray;
}

.Column {
  border-right: 1px solid gray;
}

.ActiveMember {
  color: blue;
  background: pink;
  border: 1px solid gray;
}

.NotAMember {
  color: blue;
  background: pink;
  border: 1px solid gray;
}

.JoinButton {
  background: pink;
  color: blue;
  border: 1px solid gray;
  padding: 0.5rem;
}

.JoinButton:hover {
  background: gray;
  color: white;
  border: 2px solid black;
}

.LeaveButton {
  background: transparent;
  color: orangered;
  border: 1px solid blue;
  padding: 0.5rem;
}

/* end */
