.profileContainer {
  width: 90vw;
  display: flex;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}

.profileColumn {
  width: 50%;
  padding: 0.5rem 0;
  margin-left: 2rem;
  text-align: start;
}

.profileRow {
  margin-left: 2rem;
  padding: 1rem;
  border: 1px solid lightgray;
}
