/* Rockets Styling */
.rocket-container {
  display: flex;
  gap: 20px;
  margin-left: 5px;
}

.rocket-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.rocket-img {
  width: 200px;
  height: 200px;
}

.rocket-btn {
  color: #fff;
  background-color: #4e4eff;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  margin-top: 20px;
}

.reserved-rockets {
  width: 600px;
  margin-left: 10px;
}

.rockets-title {
  padding: 10px;
}

.rockets {
  padding: 10px;
  border: 1px solid #999;
  font-size: 20px;
}
